/* src/pages/FragmentPage.css */
.fragment-container {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

select,
input {
  padding: 0.5rem;
  border: 1px solid #bbb;
  border-radius: 6px;
}

.btn-submit {
  margin-top: 1rem;
  padding: 0.7rem 1.4rem;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.fragment-output {
  background-color: #f5f5f5;
  padding: 1rem;
  margin-top: 2rem;
  text-align: left;
  border-radius: 10px;
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
pre{
  font-size: 1.2rem;
  color: black;
}
.error-msg {
  color: red;
  margin-top: 1rem;
}
